* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Gelasio", serif;
    transition: all 0.2s ease;
}
html{
    min-width: 320px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.container {
    max-width: 1260px;
    padding: 0 20px;
    margin: auto;
}

.sections-header{
    font-weight: 500;
    margin: 140px auto 20px;
    text-align: center;
    font-size: 43px;
    line-height: 60px;
  font-family: "Gelasio", serif;
}
.sections-p{
    font-size: 18px;
    font-weight: 400;
    color: rgba(0,0,0,0.5);
    max-width: 73%;
    text-align:center ;
    line-height: 28px;
    margin: 0 auto 50px;
}


@media screen and (max-width:900px) {
    .sections-header{
        font-size: 40px;
        margin: 50px auto 10px;
    }
    .sections-p{
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 30px;
    }
}


@media screen and (max-width:730px){
    .sections-header{
        font-size: 30px;
        margin: 20px auto 10px;
        line-height: 33px;
    }
    .sections-p{
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 12px;
        max-width: 90% !important;
    }
}

@media screen and (max-width:450px){
    .sections-p{
        max-width: 100% !important;

    }
}